{
  "belly": "腹部",
  "womb": "子宫",
  "pussy": "阴道",
  "cock": "阴茎",
  "balls": "睾丸",
  "balls_left": "睾丸(左)",
  "balls_right": "睾丸(右)",
  "breasts": "乳房",
  "breasts_left": "乳房(左)",
  "breasts_right": "乳房(右)",
  "ass": "屁股",
  "cleavage": "乳沟",
  "tail": "尾巴",
  "navel": "肚脐",
  "slime": "粘液",
  "modDescription": "这是一个18+的特殊爱好MOD，主要关注吞食、微/巨以及TF等特殊癖好。\n请保持尊重，如果你不喜欢，请不要使用它。",
  "terms": "我悉知本模组的所有内容均为18+内容\n我不会在没有年龄限制的情况下提供链接或以任何方式展示它，例如将视频上传到YouTube、在Twitch或任何其他限制18岁以上内容的社交媒体平台上播放。",
  "agree": "我同意这些条款。",
  "allFetishes": "给我所有的恋物癖！",
  "noFetishes": "还是算了吧。",
  "allPred": "全部捕食者",
  "noPred": "没有捕食者",
  "allPrey": "全部猎物",
  "noPrey": "没有猎物",
  "allTF": "全部转化",
  "noTF": "没有转化",
  "settingsTitle": "Starbecue设置",
  "preditor": "捕食者",
  "pred": "捕食者",
  "prey": "猎物",
  "prefs": "偏好",
  "help": "帮助",
  "misc": "杂项",
  "vorePredPrefs": "捕食者偏好",
  "vorePreyPrefs": "猎物偏好",
  "preferences": "偏好",
  "infused": "注入",
  "infusePredPrefs": "捕食者注入",
  "infusePreyPrefs": "猎物注入",
  "transformationPrefs": "转化偏好",
  "otherPrefs": "其它偏好",
  "settings": "设置",
  "sizePrefs": "尺寸偏好",
  "value": "值",
  "importSettings": "导入\n设置",
  "exportAllSettings": "导出全部\n设置",
  "exportPrefsOnly": "导出\n偏好",
  "exportLocationsOnly": "导出\n位置",
  "prefsSettingsCard": "SBQ偏好卡",
  "allSettingsCard": "SBQ完整设置卡",
  "locationsSettingsCard": "SBQ位置设置卡",
  "targets": "目标",
  "behavior": "行为",
  "predBehavior": "捕食者行为",
  "preyBehavior": "猎物行为",
  "infuseeBehavior": "注入行为",
  "infuseHostBehavior": "注入宿主行为",
  "domBehavior": "强势行为",
  "subBehavior": "顺从行为",
  "upgradeInput": "升级输入",
  "upgradesAcquired": "已获得的升级",
  "convertNPC": "转换成NPC",
  "convertToType": "转换为指定类型",
  "slot": "槽位",
  "infuseSlots": "注入槽位",
  "health": "健康",
  "healthTip": "当前健康状况。",
  "hunger": "饥饿",
  "hungerTip": "饥饿度，随着时间的推移而消耗。",
  "lust": "色欲",
  "lustTip": "色欲水平，随着时间的推移会逐渐膨胀到一定程度，然后需要进一步推动才能缓解。",
  "rest": "休息",
  "restTip": "休息水平，随时间消耗，舒适或放松时充满。",
  "never": "从不",
  "yes": "好的",
  "no": "不行",
  "noYes": "不行……^#AAA;(但实际上同意)",
  "dom": "强势",
  "switch": "转换",
  "sub": "顺从",
  "leanSubDomTip": "这个角色是会变得更顺从还是更强势。",
  "nextPage": "下一页",
  "config": "配置",
  "assignSpeciesDesc": "配置你喜爱的物种，以便快速转换。",
  "assignSpeciesSlot": "选择要分配的槽位。",
  "customizeDesc": "自定义每个物种的外观和名称！",
  "follow": "跟随",
  "stay": "停留",
  "recentlyDigested": "最近消化",
  "clearRecentlyDigestedTip": "清除最近被消化者的数据。/n（窗口关闭时刷新）",
  "optionYes": "好的",
  "optionNo": "不行",
  "optionNoYes": "不行……^#AAA;(但实际上同意)",
  "ynPrompt": "[同意/拒绝]",
  "optionsPrompt": "[选项]",
  "choosePrompt": "[选择]",
  "tellMeAboutSelf": "谈谈你自己吧。",
  "myNameIs": "我的名字是<entityName>",
  "cosmeticSlots": "装饰品槽位",
  "customize": "Customize",
  "summonTenant": "召唤",
  "summonTenantTip": "警告！召唤新房客会清除当前房客的保存数据！\n你必须点击三次以确认驱逐现有房客。",
  "insertCard": "添加房客",
  "colonyTags": "殖民地标签",
  "orderFurniture": "订购家具",
  "tagsNeeds": "需求",
  "tags": "标签",
  "remove": "移除",
  "callTenants": "呼叫房客",
  "price": "价格",
  "createdOnDate": "%x",
  "lockedDeed": "已锁定",
  "lockedDeedTip": "锁定此契约，防止其他人编辑它及其角色。",
  "hiddenDeed": "隐藏",
  "hiddenDeedTip": "使此契约几乎不可见。",
  "targetOwned": "目标属于其他人。",
  "requiresHouse": "需要封闭的房屋。",
  "requiresCamp": "需要未封闭的营地。",
  "requiresEvil": "必须是邪恶的 >:3",
  "requiresFriendly": "必须是友好的 :)",
  "requiresBoss": "必须是团队的boss！",
  "deedName": "SBQ殖民地契约",
  "deedDesc": "用于召唤倾向于Vore的NPC的契约，放置在有门和光源的封闭空间中。",
  "miniDeedName": "SBQ迷你契约",
  "miniDeedDesc": "用于召唤倾向于Vore的NPC的迷你契约，放置在有门和光源的封闭空间中。",
  "campName": "SBQ营地标记",
  "campDesc": "使用15格范围内的物品召唤倾向于Vore的NPC，不需要封闭。",
  "evilDeedName": "SBQ邪恶殖民地契约",
  "evilDeedDesc": "用于召唤具有邪恶意图的反派角色（会吃掉你）\n连接电线使它们组成团队，链的起点是团队首领。",
  "miniEvilDeedName": "SBQ邪恶迷你契约",
  "evilCampName": "SBQ邪恶营地标记",
  "npcAlreadyExists": "NPC已存在。",
  "invalidNPC": "NPC类型无效。",
  "oralVore": "口腔Vore",
  "tailVore": "尾巴Vore",
  "navelVore": "肚脐Vore",
  "absorbVore": "吸收Vore",
  "analVore": "肛门Vore",
  "unbirthVore": "胎内回归",
  "breastVore": "乳房Vore",
  "cockVore": "阴茎Vore",
  "predEnabledTip": "允许自己执行此操作。",
  "predConsentRequiredTip": "其他人让你执行此操作需要你的同意。",
  "preyEnabledTip": "允许其他人对你执行此操作。",
  "preyConsentRequiredTip": "其他人对你执行此操作需要你的同意。",
  "thighsInfuse": "有意识的脂肪",
  "bellyInfuse": "腹部转化",
  "breastInfuse": "乳房转化",
  "pussyInfuse": "阴道转化",
  "cockInfuse": "阴茎转化",
  "pawInfuse": "爪子转化",
  "tailInfuse": "尾巴转化",
  "transformDigested": "转化",
  "thighsInfuseDigested": "有意识的脂肪",
  "bellyInfuseDigested": "腹部转化",
  "breastInfuseDigested": "乳房转化",
  "pussyInfuseDigested": "阴道转化",
  "cockInfuseDigested": "阴茎转化",
  "pawInfuseDigested": "爪子转化",
  "tailInfuseDigested": "尾巴转化",
  "none": "无效果",
  "heal": "治愈",
  "softDigest": "软消化",
  "digest": "消化",
  "healDesc": "根据消化能力治疗猎物，消耗能量。",
  "healRequestDesc": "请求被治愈。",
  "digestDesc": "根据消化能力融化猎物并补充饥饿和健康。",
  "digestRequestDesc": "请求被消化。",
  "softDigestDesc": "根据消化能力融化猎物并补充饥饿和健康。使猎物只剩 1 HP。",
  "softDigestRequestDesc": "请求被软消化。",
  "cumDigestDesc": "根据精液能力融化猎物来满足色欲。当猎物被完全融化时可能会产生避孕套。",
  "cumSoftDigestDesc": "根据精液能力融化猎物来满足色欲。使猎物只剩 1 HP。当猎物被“完全”融化时可能会产生避孕套。",
  "femcumDigestDesc": "根据爱液能力融化猎物来满足色欲。当猎物被完全融化时可能会产生避孕套。",
  "femcumSoftDigestDesc": "根据爱液能力融化猎物来满足色欲。使猎物只剩 1 HP。当猎物被“完全”融化时可能会产生避孕套。",
  "milkDigestDesc": "根据乳液能力融化猎物来满足色欲。当猎物被充分搅拌时可能会产生乳汁。",
  "milkSoftDigestDesc": "根据乳液能力融化猎物来满足色欲。使猎物只剩 1 HP。当猎物被“充分”搅拌时可能会产生乳汁。",
  "cumHealDesc": "基于精液能力治愈猎物，消耗能量。",
  "femcumHealDesc": "治疗猎物的速度更快，消耗的能量更少，但会导致饥饿。",
  "milkHealDesc": "治疗猎物的速度更快，消耗的能量更少，但会导致饥饿。",
  "energyDrainDesc": "消耗猎物的能量来恢复自己的能量。",
  "reformDigested": "重塑",
  "reformHealDesc": "软消化后慢慢治愈猎物，使其重塑。一旦他们的HP满了就可以使用^yellow;重塑^reset;行为。",
  "noneDesc": "无效果",
  "noneRequestDesc": "请求无效果。",
  "mainSettings": "主要设置",
  "resistances": "耐性",
  "unordered": "无序(仅限于管理员)",
  "escapeDifficulty": "逃脱难度",
  "escapeDifficultyTip": "你从捕食者体内挣脱的难度有多高",
  "acidDigestPower": "消化能力",
  "acidDigestPowerTip": "你的消化液对猎物的作用速度有多快。",
  "acidDigestResistance": "消化耐性",
  "acidDigestResistanceTip": "在消化液中的抗消化值。",
  "acidDigestFatalImmuneTip": "免疫致命效果。",
  "acidDigestDropsTip": "猎物被消化后可能会掉落残骸。",
  "acidDigestDropsAllowTip": "你被消化后可能会掉落残骸。",
  "cumDigestPower": "精液能力",
  "cumDigestPowerTip": "你的精液对猎物的作用有多快。",
  "cumDigestResistance": "精液耐性",
  "cumDigestResistanceTip": "在精液中的抗融化值。",
  "cumDigestFatalImmuneTip": "免疫致命效果。",
  "cumDigestDropsTip": "猎物被融化后可能会填满一个避孕套。",
  "cumDigestDropsAllowTip": "你被融化后可能会填满一个避孕套。",
  "femcumDigestPower": "爱液能力",
  "femcumDigestPowerTip": "你的爱液对猎物的作用有多快。",
  "femcumDigestResistance": "爱液耐性",
  "femcumDigestResistanceTip": "在爱液中的抗融化值。",
  "femcumDigestFatalImmuneTip": "免疫致命效果。",
  "femcumDigestDropsTip": "猎物被融化后可能会填满一个避孕套。",
  "femcumDigestDropsAllowTip": "你被融化后可能会填满一个避孕套。",
  "milkDigestPower": "乳液能力",
  "milkDigestPowerTip": "你的乳液对猎物的作用有多快。",
  "milkDigestResistance": "乳液耐性",
  "milkDigestResistanceTip": "在乳液中的抗融化值。",
  "milkDigestFatalImmuneTip": "免疫致命效果。",
  "milkDigestDropsTip": "猎物被搅碎后可以装满一盒奶。",
  "milkDigestDropsAllowTip": "你被搅碎后可以装满一盒奶。",
  "mainEffect": "主要效果",
  "secondaryEffects": "次要效果",
  "digestedEffects": "消化后的效果",
  "infusedEffects": "注入后的效果",
  "energyDrain": "能量消耗",
  "hammerspace": "口袋空间",
  "infusePreferDirect": "偏向直接注入",
  "infusePreferDirectTip": "更倾向于直接注入，而不需要任何相关的Vore行动。",
  "targetFriendlyTip": "友好角色",
  "targetHostileTip": "敌对角色",
  "targetPlayerTip": "玩家角色",
  "targetOCTip": "原创角色",
  "targetCompatibleTip": "与SBQ兼容的角色",
  "targetOtherTip": "其他角色",
  "willingness": "意愿",
  "favored": "偏爱",
  "willingnessTip": "该角色“愿意”采取这一行动的可能性有多大。",
  "favoredTip": "这个角色有多喜欢主动进行这个动作",
  "predAlwaysDigestHostiles": "消化敌方",
  "predAlwaysDigestHostilesTip": "会一直尝试消化敌方实体，无论所在位置设置的效果如何。",
  "minimumScaleTip": "可以缩小到的最小比例。\n出于理智的考虑，上限为0.125（1/8）。",
  "maximumScaleTip": "可以放大到的最大比例。\n为了不让你的电脑爆炸，上限是10倍。",
  "currentScaleTip": "当前比例。\n如果找到相关工具，可以自由设置……",
  "grabbed": "抓取",
  "grabbedTip": "是否可以抓住或捡起一个人。",
  "pinned": "压制",
  "pinnedTip": "是否能被压住，如被踩或被坐。",
  "displayEffect": "显示效果",
  "displayEffectTip": "您的消化效果可以创建诸如数字之类的粒子来显示其效果。",
  "nipplesVisible": "乳头可见",
  "nipplesVisibleTip": "乳头在乳房上可见。",
  "navelVisible": "肚脐可见",
  "navelVisibleTip": "肚脐在腹部上可见。",
  "struggleSounds": "挣扎声",
  "struggleSoundsTip": "猎物在里面挣扎的声音会被听到。",
  "gurgleSounds": "咕噜声",
  "gurgleSoundsTip": "猎物会发出咕噜声。",
  "interactDialogue": "互动对话",
  "interactDialogueTip": "与该角色互动时会出现对话提示。\n如果未启用，角色会根据光标所在的位置以及你站立的位置尝试进行操作。",
  "actionDialogue": "行动对话",
  "actionDialogueTip": "该角色在做动作或挣扎时会说出相关的台词。",
  "lockDownChance": "封锁%",
  "lockDownChanceTip": "这个NPC有时会随机进入封锁模式，以防止你逃跑。\n他们没问你就把你吃了。",
  "healthThreshold": "健康阈值",
  "healthThresholdMinTip": "该角色尝试执行此操作时的最低健康值。",
  "healthThresholdMaxTip": "该角色尝试执行此操作时的最高健康值。",
  "hungerThreshold": "饥饿阈值",
  "hungerThresholdMinTip": "该角色尝试执行此操作时的最低饥饿度。",
  "hungerThresholdMaxTip": "该角色尝试执行此操作时的最高饥饿度。",
  "lustThreshold": "色欲阈值",
  "lustThresholdMinTip": "该角色尝试执行此操作时的最低色欲值。",
  "lustThresholdMaxTip": "该角色尝试执行此操作时的最高色欲值。",
  "restThreshold": "休息阈值",
  "restThresholdMinTip": "该角色尝试执行此操作时的最低休息值。",
  "restThresholdMaxTip": "该角色尝试执行此操作时的最高休息值。",
  "maxPossibleScale": "最大可缩放尺寸",
  "maxPossibleScaleTip": "你当前可以放大到的最大尺寸。\n由你消耗的升级数量决定。",
  "maxDigestPower": "最大消化能力",
  "maxDigestPowerTip": "你消化能力的最大值。\n由你消耗的升级数量决定。",
  "locations": "位置",
  "locationsTip": "位置设置的原始Json，除非你知道你在做什么，否则不要碰它。",
  "vorePrefs": "Vore偏好",
  "vorePrefsTip": "Vore偏好设置的原始Json，除非你知道你在做什么，否则不要碰它。",
  "infusePrefs": "注入偏好",
  "infusePrefsTip": "注入设置的原始Json，除非你知道你在做什么，否则不要碰它。",
  "visualMin": "最小填充值",
  "visualMinTip": "这个位置在视觉上的最小填充值。",
  "visualMinAdd": "添加填充",
  "visualMinAddTip": "如果启用，最小填充值会影响实际上填充值。",
  "visualMaxTip": "这个位置在视觉上的最大填充值。",
  "minFill": "最小充填值",
  "maxFill": "最小充填值",
  "multiply": "乘值",
  "multiplyFillTip": "乘以每个居住者的计数。",
  "infusedFade": "颜色",
  "infusedFadeTip": "注入后剩余的颜色量。",
  "infusedSize": "尺寸",
  "infusedSizeTip": "注入占尺寸的百分比。",
  "infusedShrink": "注入缩小",
  "infusedShrinkTip": "尺寸会随着时间的推移而缩小。",
  "infusedFading": "注入褪色",
  "infusedFadingTip": "颜色会随着时间的推移而褪去。",
  "bodyParts": "身体部位",
  "cockTip": "启用阴茎。",
  "ballsTip": "启用睾丸。",
  "pussyTip": "启用阴道。",
  "breastsTip": "启用乳房。",
  "ballsSymmetric": "睾丸的对称性",
  "ballsSymmetricTip": "为了保持对称而将睾丸的内容物平均分配到两侧。",
  "breastsSymmetric": "乳房的对称性",
  "breastsSymmetricTip": "为了保持对称而将乳房的内容物平均分配到两侧。",
  "ballsInternal": "内部睾丸",
  "ballsInternalTip": "从外面看不到睾丸。",
  "compression": "压缩",
  "compressionHealth": "健康压缩",
  "compressionHealthTip": "猎物会根据其健康状况的百分比被压缩得更小。",
  "compressionTime": "时间压缩",
  "compressionTimeTip": "根据所在位置的能力，猎物会随着时间的推移被压缩得更小。",
  "compressionNone": "不压缩",
  "compressionNoneTip": "不压缩.",
  "compressionMin": "压缩极限",
  "compressionMinTip": "猎物能被压缩到多小的极限。",
  "huntingSpreeChance": "疯狂狩猎%",
  "huntingSpreeChanceTip": "狩猎成功后，对方会立即再次开始狩猎。",
  "getConsentChance": "征求同意概率",
  "getConsentChanceTip": "对方可能会向目标征求同意再做这件事。",
  "stripping": "剥离",
  "headStrip": "头盔",
  "chestStrip": "胸甲",
  "legsStrip": "腿甲",
  "backStrip": "背甲",
  "clothingStripTip": "角色移除此衣服槽位的色欲百分比。",
  "theHatStaysOn": "做爱时帽子会一直戴着。",
  "offerQuests": "提供任务",
  "offerQuestsTip": "该角色可为玩家提供各种任务。",
  "questParticipation": "参与任务",
  "questParticipationTip": "该角色可以“参与”其他角色的任务。",
  "npcGraduation": "NPC毕业",
  "npcGraduationTip": "这个角色在完成任务后可能会“毕业”成为另一种类型。\n这通常意味着可以被招募为船员。",
  "eggify": "蛋化",
  "eggifyDesc": "把猎物困在蛋里！",
  "eggifyRequestDesc": "请求被困在蛋里！",
  "releaseOccupant": "释放乘客",
  "releaseOccupantDesc": "这应该只针对 NPC。",
  "releaseOccupantRequestDesc": "请求他们释放其中一名乘客。",
  "personality": "性格",
  "shy": "害羞",
  "flirty": "轻浮",
  "default": "默认",
  "cockLeakiness": "阴茎渗漏性",
  "cockLeakinessTip": "随着欲望计量条的填充，你的阴茎会渗漏多少。",
  "pussyLeakiness": "阴道渗漏性",
  "pussyLeakinessTip": "随着欲望计量条的填充，你的阴道会渗漏多少。",
  "breastsLeakiness": "乳房渗漏性",
  "breastsLeakinessTip": "随着欲望计量条的填充，你的乳房会渗漏多少。",
  "cockSelect": "阴茎选择",
  "cockSelectTip": "选择你拥有的阴茎类型。",
  "tailSelect": "尾巴选择",
  "tailSelectTip": "选择你拥有的尾巴类型。",
  "tailVoreCompatible": "尾巴吞食兼容！",
  "cockInfuseSelect": "阴茎变形选择",
  "cockInfuseSelectTip": "选择你变形时的阴茎类型。",
  "tailInfuseSelect": "尾巴变形选择",
  "tailInfuseSelectTip": "选择你变形时的尾巴类型。",
  "tailSelectOverride": "尾巴选择覆盖",
  "tailSelectOverrideTip": "注入角色可以用他们偏好的尾巴类型覆盖你的选择。",
  "cockSelectOverride": "阴茎选择覆盖",
  "cockSelectOverrideTip": "注入角色可以用他们偏好的阴茎类型覆盖你的选择。",
  "auto": "自动",
  "cockMatchGender": "阴茎匹配性别",
  "ballsMatchGender": "睾丸匹配性别",
  "breastsMatchGender": "乳房匹配性别",
  "pussyMatchGender": "阴道匹配性别",
  "cockMatchGenderTip": "当你为男性时，你的阴茎将被启用。",
  "ballsMatchGenderTip": "当你为男性时，你的睾丸将被启用。",
  "breastsMatchGenderTip": "当你为女性时，你的乳房将被启用。",
  "pussyMatchGenderTip": "当你为女性时，你的阴道将被启用。",
  "transgender": "跨性别",
  "transgenderTip": "在变形某人时，你也可以改变他们的性别。",
  "unchanged": "保持不变",
  "random": "随机",
  "swap": "交换",
  "male": "男性",
  "female": "女性",
  "speciesTF": "物种",
  "indefiniteTF": "无期限",
  "permanentTF": "永久",
  "genderTF": "性别",
  "accidentalTF": "事故",
  "speciesTFTip": "你的物种可以改变",
  "indefiniteTFTip": "变形将无限期地持续下去，只能用还原药水治愈",
  "permanentTFTip": "变身后，你的“原始”物种将被新物种取代，从而使复原药剂失去作用",
  "genderTFTip": "你的性别可以改变^#555;(仅限基础，生殖器是独立的)",
  "potionTFTip": "你可以通过药水改变自己",
  "magicTFTip": "你可以通过魔法改变自己",
  "scienceTFTip": "你可以通过科学改变自己",
  "voreTFTip": "你可以在 vore 期间进行转化",
  "unbirthTFTip": "你可以在别人的子宫里发生变化",
  "accidentalTFTip": "各种随机事件都可能导致转变。^#555;(尊重其他设置)",
  "cockCanTFChange": "TF效果会随你有没有阴茎而改变。",
  "ballsCanTFChange": "TF效果会随你有没有睾丸而改变。",
  "pussyCanTFChange": "TF效果会随你有没有阴道而改变。",
  "breastsCanTFChange": "TF效果会随你有没有乳房而改变。",
  "actions": "行动",
  "unassignedAction": "SBQ控制器",
  "grab": "抓取",
  "inhale": "吸气",
  "vore": "任何Vore",
  "genericDesc": "^green;点击^reset;尝试^yellow;<actionName>^reset;.",
  "unavailableDesc": "^yellow;<actionName>^reset;不可用。",
  "unassignedDesc": "未分配任何操作。",
  "controllerDescAppend": "^green;Shift+W^reset;为行动轮。^green;Shift+点击^reset;发送提示。",
  "genericDomPrompt": "<entityName>^reset;想要<actionName>^reset;你。",
  "genericSubPrompt": "<entityName>^reset;想要<actionName>^reset;对方。",
  "voreDesc": "尝试对目标进行任何可用的^yellow;Vore^reset;行动。",
  "voreRequestDesc": "让对方选择如何vore你！",
  "oralVoreDesc": "吃对方！",
  "analVoreDesc": "把对方塞进你的屁股里！",
  "unbirthVoreDesc": "把对方放进你的阴道里！",
  "breastVoreDesc": "把对方插进你的乳房里！",
  "cockVoreDesc": "把对方放进你的阴茎里！",
  "tailVoreDesc": "用你的尾巴吃对方！",
  "absorbVoreDesc": "吸收对方！",
  "navelVoreDesc": "把对方放进你的肚脐里！",
  "oralVoreRequestDesc": "请求被吃掉!",
  "analVoreRequestDesc": "请求被塞进对方的屁股里！",
  "unbirthVoreRequestDesc": "请求被塞进对方的阴道！",
  "breastVoreRequestDesc": "请求被塞进对方的乳房里！",
  "cockVoreRequestDesc": "请求被塞进对方的阴茎里！",
  "tailVoreRequestDesc": "请求被对方的尾巴咬！",
  "absorbVoreRequestDesc": "请求对方吸收你！",
  "navelVoreRequestDesc": "请求被塞进对方的肚脐！",
  "bellyInfuseDesc": "把对方变成你的胃！",
  "thighsInfuseDesc": "把你的猎物变成有意识的脂肪！",
  "cockInfuseDesc": "把对方变成你的阴茎！",
  "pussyInfuseDesc": "把对方变成你的阴道！",
  "breastInfuseDesc": "把对方变成你的乳房！",
  "tailInfuseDesc": "把对方变成你的尾巴！",
  "pawInfuseDesc": "把对方吸收到你的爪子里！",
  "bellyInfuseRequestDesc": "请求变成对方的胃！",
  "thighsInfuseRequestDesc": "请求变成脂肪！",
  "cockInfuseRequestDesc": "请求变成对方的阴茎！",
  "pussyInfuseRequestDesc": "请求变成对方的阴道！",
  "breastInfuseRequestDesc": "请求变成对方的乳房！",
  "tailInfuseRequestDesc": "请求变成对方的尾巴！",
  "pawInfuseRequestDesc": "请求变成对方的爪子！",
  "grabRequestDesc": "请求升级！",
  "interact": "互动",
  "interactDesc": "与该角色互动。",
  "letout": "释放",
  "controllerLetOutAnyDesc": "用当前的行动释放最近的猎物。",
  "letoutDesc": "用当前行动放出选定的猎物。",
  "letoutRequestDesc": "请求释放。",
  "controllerRPMenu": "角色扮演行动",
  "controllerRPMenuDesc": "TODO\n主要用于角色扮演的行动。",
  "controllerAssign": "指定行动",
  "controllerAssignDesc": "指定点击时执行的操作。",
  "occupants": "Occupants",
  "turboDigest": "快速消化",
  "turboDigestDesc": "用10倍的速度消化！",
  "turboDigestRequestDesc": "请求以10倍的速度被消化！",
  "reform": "重塑",
  "reformDesc": "猎物HP回满后对其进行重塑。",
  "reformRequestDesc": "请求在HP回满后进行重塑。",
  "turboReform": "快速重塑",
  "turboReformDesc": "消耗能量使猎物的重塑速度提高10倍！",
  "turboReformRequestDesc": "请求以10倍的速度进行重塑！",
  "turboHeal": "快速治愈",
  "turboHealDesc": "消耗能量使猎物的治愈速度提高10倍！",
  "turboHealRequestDesc": "请求以10倍的速度进行治愈！",
  "fatal": "致死",
  "fatalDesc": "让对方解脱。",
  "fatalRequestDesc": "请求解脱。",
  "chooseLocation": "选择位置",
  "chooseLocationDesc": "选择猎物被送往的位置。",
  "chooseLocationRequestDesc": "请求被送往其它位置。",
  "chooseLocationPrey": "猎物选择位置",
  "chooseLocationPreyDesc": "让你的猎物选择被送往的位置。",
  "chooseLocationPreyPrompt": "选择捕食者体内的一个位置。",
  "transform": "转化",
  "transformDesc": "将猎物转化为其他东西，需要消耗能量。",
  "transformRequestDesc": "请求变成其他东西！",
  "sendDeeper": "深入",
  "sendDeeperDesc": "将猎物送入你的身体深处",
  "sendDeeperRequestDesc": "请求更深入地进入对方的体内！",
  "jackoff": "手淫",
  "jackoffDesc": "手淫你的阴茎！",
  "fingerPussy": "手指阴道",
  "fingerPussyDesc": "用手指刺激你的阴道！",
  "squishBreasts": "挤压乳房",
  "squishBreastsDesc": "挤压你的胸部！",
  "lockDown": "封锁",
  "lockDownDesc": "切换^red;封锁^reset;模式。\n只要你还有能量，就能防止猎物逃跑，但能量的被动回复会停止。",
  "action_invalidAction": "行动无效",
  "action_settingsMismatch": "当前设置不允许",
  "action_targetSettingsMismatch": "目标设置不允许",
  "action_targetPreySettingsMismatch": "目标包含设置不允许的乘员",
  "action_tooBig": "目标太大",
  "action_tooSmall": "目标太小",
  "action_noSlots": "所有位置都满了",
  "action_noSpace": "位置空间不足",
  "action_needsInfusion": "需要注入的必要部件",
  "action_alreadyInfused": "已经注入的乘员",
  "action_invalidLocation": "位置数据无效",
  "action_missingAction": "当前状态下没有行动",
  "action_actionsLocked": "当前已锁定的操作",
  "action_targetMissingStatusPrimaryScript": "不兼容目标：缺少SBQ状态主脚本",
  "action_targetMissingActorScript": "不兼容目标：缺少SBQ状态行动脚本",
  "mysteryPotionName": "^rainbow;神秘药水",
  "mysteryPotionDesc": "谁知道这种药水会把人变成什么样呢？",
  "speciesPotionName": "<species>药水",
  "speciesPotionDesc": "变身<species>的药水。",
  "invalidPotionName": "无效的<species>药水",
  "invalidPotionDesc": "因为某些问题而无法转化为<species>。",
  "duplicatePotionName": "<name>药水",
  "duplicatePotionDesc": "变身<name>的药水。",
  "overrideEnforcerName": "锁定设置执行器",
  "overrideEnforcerDesc": "每个世界中只能放置一次，用于配置该世界中玩家/NPC/物体的锁定设置。",
  "candiesEatenIncreased": "最大尺寸和消化能力增强",
  "mysteryCandyName": "^rainbow;神秘糖果",
  "candyName": [
    "星核苹果冰糖",
    "闪闪发光的甜蜜冰糖",
    "诡异的香蕉冰糖",
    "变异的混合冰糖",
    "^rainbow;复合元素冰糖",
    "^rainbow;璀璨之星冰糖",
    null,
    null,
    null,
    "^rainbow;终极冰糖"
  ],
  "mysteryCandyDesc": "谁知道这糖果有多厉害！",
  "candyDesc": [
    "这种糖果富含来自行星核心的营养成分……你的胃可以处理这些……对吗？",
    "虽然这种糖果味道甜美，但它的密度却高得惊人……含有生长所需的一切物质！",
    "这些奇特的味道应该会让你的胃更活跃一些。",
    "用来做这个的突变水果肯定有助于快速生长。",
    "将与这三种元素相匹配的口味相结合，应该会给你带来真正的力量！",
    "要吃掉一颗星星……那还很遥远，但它的力量会让你越来越近！",
    null,
    null,
    null,
    "一次只吃一个是不够的……当然，吃这个一定会让人难以置信！"
  ],
  "allSettingsCardDesc": "这张卡片会覆盖所有设置。",
  "prefsSettingsCardDesc": "这张卡片只会覆盖偏好和行为设置",
  "locationsSettingsCardDesc": "这张卡片只会覆盖身体位置设置。",
  "helpTabPred": "捕食者帮助",
  "helpTabPredContent": "要想成为捕食者，必须选择成为相关vore类型的捕食者。玩家也可以选择是否要求其他角色在进行相关动作时必须获得同意。\n如果你选择口腔Vore，但不需要同意，你就会允许猎物角色强行进入你的身体。如果启用了同意功能，你将收到确认或拒绝请求的提示，但你仍可自由尝试自己的操作。\n\n要执行捕食者动作，需要一个^yellow;SBQ控制器^reset;，这些可以用一个像素制作。打开动作轮并分配一个动作，可用动作由你启用的设置以及你的物种决定。\n\n动作轮还将允许你释放你吃掉的任何猎物，或者选择特定的猎物来执行仅通过此菜单和捕食者HUD可用的特定猎物动作。\n\n在右下角，你会有一个HUD来显示你当前占据者的健康状况，以及他们目前正在经历的任何额外效果的进度条。这个HUD还将允许你快速更改选定位置的当前消化效果，以及选择猎物来对他们执行动作。\n\n如果有人想要增强他们的力量……用更大的力量熔化他们的猎物，他们可能能够用他们发现的每一种新资源锻造一个特别的奖励。\n\n大红色的^red;锁定^reset;按钮将使你进入^red;锁定^reset;模式，这将取消你的基础被动能量再生，但会阻止任何猎物逃脱，直到你耗尽能量。如果你处于这种模式，你的状态效果会显示出来。",
  "helpTabPrey": "猎物帮助",
  "helpTabPreyContent": "要想成为猎物，必须选择成为相关vore类型的猎物。玩家也可以选择是否要求其他角色在进行相关动作时必须获得同意。\n如果你选择口腔Vore猎物，但不要求同意，你就是允许捕食者角色尝试在不询问的情况下吃掉你。如果启用了同意功能，你将收到一个提示来确认或拒绝请求，但你仍然可以自由地尝试这个动作。\n\n当你被吃掉时，右下角会弹出一个HUD，指示你可以按哪些方向挣扎。指示箭头的颜色暗示了朝那个方向挣扎可能会对你产生什么效果。\n\n按住^green;Shift^reset;将阻止你的挣扎产生任何实际效果，只播放动画，例如如果你不想逃脱。\n\n方向指示器含义：\n^red;红色^reset;\n你可能能够逃脱捕食者。\n^blue;蓝色^reset;\n可能会使捕食者改变状态/姿势。\n^green;绿色^reset;\n朝逃脱方向挣扎，可能会使捕食者改变状态/姿势，或者将你移动到另一个身体部位。\n^cyan;青色^reset;\n可能会让你移动到捕食者身体内的另一个位置。\n^yellow;黄色^reset;\n可能会让捕食者对你执行某种动作。\n^#AAA;（锁定）^reset;\n捕食者处于'锁定'模式，你将无法逃脱，直到他们因为你的挣扎而耗尽太多能量。\n\n\n如果你发现自己处于无法应对的情况，并且想要立即脱身，有一个^orange;即时逃脱组合键^reset;。要执行它，按住^green;Shift^reset;+^green;下^reset;，然后按^green;跳跃^reset;。",
  "helpTabTransformation": "变形帮助",
  "helpTabTransformationContent": "在变身为足够多的不同物种后，你将解锁^yellow;变形^reset;科技，然后就可以用它自由变身为你以前变身过的任何物种。一个快速解锁的方法是从商店购买几种神秘药水，或者生成各种物种的捕食者租户让他们来变形你。\n\n如果未启用相关设置，大多数药水是临时的，你通常会在5-10分钟内恢复到原始物种，具体取决于变形方法。如果那时你还没有变回，只需从商店获取一个^yellow;恢复药水^reset;。\n请注意，如果你启用了永久变形，任何变形都会“永久”生效，并成为你“恢复”后的新物种。\n\n通过^yellow;变形者^reset;科技进行的变形总是被视为无限期的，即使没有启用该设置。\n该科技还可以用于自定义每个物种的外观，你甚至可以更改作为该物种时使用的名称！这对于角色扮演非常有用，可以在不使用单独的角色存档的情况下“更换角色”。\n\n通过克隆药水变形会覆盖你的特定自定义设置并更改你的名称，这只是暂时的！^#555;除非它不是；）^reset; 如果这是你第一次变形为那个物种，它将被保存，否则它永远不会替换你保存的自定义设置，所以不用担心随意尝试它们！\n\n在任何你在游戏中更改名称的情况下，虽然它被保存在角色数据中，但你无法在服务器上更改客户端连接名称而不断开连接并重新连接，所以我们只是让它假装你使用了'/nick'命令来更改你的服务器昵称。",
  "helpTabSize": "尺寸帮助",
  "helpTabSizeContent": "你可能会发现自己能通过各种方式长大或缩小。如果你希望停止这种情况，只需在你的偏好设置中设置限制。\n\n然而，如果你想要突破这些限制……并长到更高的高度，你应该用你发现的每一种新资源锻造特别的奖励。\n\n^cyan;尺寸射线^reset;\n尺寸射线可以用来逐渐增大或缩小目标，每次击中都会增加或减少目标的大小，充电时间越长，目标的大小变化就越大。你也可以按住^green;Shift^reset;来自我瞄准！",
  "helpTabUpgrades": "升级帮助",
  "helpTabUpgradesContent": "SBQ中有许多特定的状态和能力，本标签将对它们进行说明。\n\n^yellow;岩石糖果^reset;岩石糖果是一种分等级的特殊食物，可以在铁砧处制作或作为战利品找到。食用它可能会增加你的消化能力，或者你能够长到的最大尺寸。每个等级的制作糖果将为你提供一个用于计算最大能力或尺寸的点数，一次。多次食用同一等级的糖果不会增加你的奖励……然而，作为战利品找到的糖果有可能带来更好的结果。如果你找到一块有'发光'轮廓的岩石糖果，那么这块糖果在该等级上具有最高的潜力，这些糖果随着你等级的提高越来越难找到，但能带来更好的结果！\n\n目前它是唯一的可消耗升级物品，未来还会有更多！",
  "helpTabNPCs": "契约帮助",
  "helpTabNPCsContent": "SBQ的NPC可以通过我们自己版本的殖民地契约生成，该契约可以在商店中购买。\n\n与原版契约不同，该契约有自己的图形用户界面，可以选择召唤哪个租户，查看他们需要什么殖民地标签，甚至可以用这些标签购买家具。你还可以从契约中自由插入或取出NPC的卡片，该卡片包含NPC的所有数据，包括其设置。解除契约时也会掉落。\n\nNPC精华也可以通过消化获得，你可以在设置选项卡中找到一些最近被消化的猎物的精华物品。你还可以使用特殊的消化掉落。",
  "helpTabOther": "其他帮助",
  "helpTabOtherContent": "^yellow;食典^reset;\n通用工具，用于访问SBQ相关设置和获取相关信息。任何已加载SBQ脚本的NPC或怪物都应能打开其设置菜单，大多数（如果不是全部）非SBQ实体将只有猎物和变形设置可供配置，出于尊重将禁用某些NPC的某些设置。\n\n^yellow;SSVM^reset;\n多年来已不再是依赖项。\n并非不兼容，但它的功能与我自己的功能之间没有对应关系，这些是完全独立的模组。\n\n^yellow;星磅^reset;\n据我所知，应该不兼容，尚未添加对应关系。",
  "helpTabCredits": "致谢",
  "helpTabCreditsContent": "^#7dad27;LokiVulpix^reset;\n该模组的主要开发者！\npatreon.com/LokiVulpix ^#AAA;(标题屏幕的模组菜单中有可点击的链接)\n^reset;我的画作也可以在itaku上找到 itaku.ee/profile/lokivulpix\n我制作了大多数的精灵并完成了几乎所有的编程！\n\n^#7ddfff;Zygan^reset;\n巨大水伊布的原作者\n理智检查员\n\n\n其他贡献者\n\n^blue;Akari Kaen^reset;^blue;ArgobargSoup^reset;\n^blue;Blueninja^reset;\n^purple;Cosmic^reset;\n^yellow;Ferrilata_^reset;\n^red;FFWizard^reset;\n^reset;HornySe7en^purple;\nradiantAurora^reset;\n^blue;Xodious^reset;\n^red;Zovoroth^reset;\n\n\n委托人\n\nxeronious\n^rainbow;Lakota Amitola^reset;\n^blue;BRYZN-Z18^reset;\n^orange;Fevix^reset;\n^red;FFWizard^reset;\n^blue;Akari Kaen^reset;\n\n\n支持者\n\n",
  "missingPred": "捕食者失踪",
  "missingPredPrompt": "你所在的捕食者似乎失踪了。\n\n你想逃脱还是等待他们回来？",
  "missingPredEscape": "逃脱",
  "missingPredWait": "等待"
}
